.all-elements-content {
  display: grid;
  grid-template-rows: auto;
  padding: 50px 250px;

  div {
    text-align: left;
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: #d41872;
  }

  p {
    color: #5f6875;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
  }

  .introduction {
    border-bottom: 1px solid lightgray;
  }

  .headings-ex {
    border-bottom: 1px solid lightgray;
    h1 {
      font-size: 42px;
    }

    h2 {
      font-size: 37px;
    }

    h3 {
      font-size: 32px;
    }

    h4 {
      font-size: 27px;
    }

    h5 {
      font-size: 23px;
    }

    h6 {
      font-size: 18px;
    }
  }

  .paragraph-ex {
    border-bottom: 1px solid lightgray;
  }

  .lists-ex {
    border-bottom: 1px solid lightgray;

    dd,
    li {
      color: #5f6875;
      font-size: 18px;
      line-height: 1.6;
      font-weight: 300;
    }
  }

  .forms-ex {
    border-bottom: 1px solid lightgray;

    h2 {
      line-height: 1.6;
      font-weight: 300;
      color: #5f6875;
    }

    form {
      p {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
      }
    }

    input,
    label {
      color: #5f6875;
      font-size: 18px;
      line-height: 1.6;
      font-weight: 300;
    }

    input[type="text"] {
      border: none;
      border-bottom: 1px solid lightgray;
      height: 40px;
      margin-bottom: 30px;
      width: 100%;
    }

    select {
      appearance: none;
      padding: 5px;
      outline: 0.5px solid black;
      height: 45px;
      width: 100px;
      color: #5f6875;
      font-size: 18px;
      margin: 10px 0;
    }
  }

  .file-ex {
    border-bottom: 1px solid lightgray;

    form {
      margin-bottom: 35px;
    }

    button {
      margin-top: 20px;
      height: 40px;
      width: 90px;
    }

    .clear-btn {
      box-shadow: 0 4px 12px -2px #e91e63;
    }

    .sbmt-btn {
      margin: 20px 0;
      border: none;
      border-radius: 3px;
      background-color: #e91e63;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 10px;
      cursor: pointer;
    }
  }

  .tables-ex {
    table {
      border-collapse: collapse;
      text-align: center;
      width: 100%;
      margin-bottom: 15px;
    }

    tr {
      border-bottom: 1pt solid lightgray;
    }

    th {
      padding-bottom: 14px;
    }

    td {
      padding: 14px 16px;
    }
  }

  .misc {
    p {
      color: #5f6875;
      font-size: 16px;
      line-height: 1.6;
      font-weight: 300;
    }

    blockquote {
      font-size: 18px;
      font-style: italic;
      border-left: 5px solid #eee;
      padding: 10px 20px;
      margin: 0 0 20px;
    }
  }
}
